<IfModule mod_rewrite.c>

RewriteEngine On

# Redirige vers "public/" si l'URL ne contient pas déjà "public/"
RewriteCond %{REQUEST_URI} !^/web/public/
RewriteRule web/public/$1 [L,R=302]
    
</IfModule>