@import url("Header.css");
@import url("Footer.css");

body {
    margin:0;
    background-color: rgb(3, 3, 32);
    overflow-x: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(240, 234, 189);
}

section{
    flex-grow: 1;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
}